/* 
Here's the CSS for shanethiede.com. I'm Shane, by the way. I'm learning how to do visual design, step by step, and expand my portfolio for freelance work. I'm also a drummer and a songwriter, and like... a passionate lover or whatever.

Author: Shane Thiede
Authror URL: shane@shanethiede.com
Tags: website, portfolio

Table of contents:
Section 1: General Styling
Section #: Intro Section
Section #: General Section Styling
Section #: Specific Section Styling
Section #: Link Styling
Section #: Release Carousel
*/


/*** Section 1: Macro Styling ***/

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: hidden;
}

body{
    color: #2A2A2A;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.wrap-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: space-around;
}

.col{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    z-index: 998;
    opacity: 0;
    transition-delay: 0.5s;
    transition: 0.5s;
}

span{
    color: #9f2a68;
}

/* display .overlay when it has the .active class */
.overlay.active {
    display: flex;
    opacity: 1;
}

/*** Section 2: Header Styling ***/

.header {
    position: fixed;
    top: 0;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 30px;
    height: 60px;
    transition: all 0.5s;
    font-family: 'Lato', sans-serif;
}



/*** Section 3: Primary Styling ***/

.full-page{
    /* position: absolute;
    left: 0;
    top:60px; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: calc(100vh - 60px);
    opacity: 1;
    font-family: 'Lato', sans-serif;
    text-align: left;
    padding: 10px;
    overflow: hidden;
}

.full-page .top{
    align-items: flex-start;
}

.full-page h1{
    font-size: 120px;
    margin: 0;
    transition: all 0.3s;
}

.full-page h2{
    font-size: 120px;
    color:#9f2a68;
}

.full-page a{
    color: #2A2A2A;
    font-size: 60px;
    z-index: 5;
    transition: all 0.3s;
    text-decoration: none;
    
}

.full-page p{
    font-size: 20px;
}

@media only screen and (max-width: 768px) {
    .full-page h1{
        font-size: 60px;
    }

    .full-page h2{
        font-size: 60px;
        color:#9f2a68;
    }
    
    .full-page a{
        font-size: 40px;
    }
    
} 

.full-page a:hover{
    color: #2A2A2A;
    text-decoration: none;
    opacity: 0.4;
    cursor: pointer;
}




/*** Front Page Styling ***/
.fp-links{
    text-decoration: none;
}

.fp-title{
    margin: 0;
    text-align: center;
}
.fp-title-sub-wrapper {
    position: relative;
}

.fp-title-sub-ph{
    margin: 0;
    text-align: center;
    z-index:-10;
    opacity: 0;
    /* position: absolute; */
    /* margin-top: 1em; */
}

.fp-title-sub{
    margin: 0;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0;
}


/*** Release Carousel Styling ***/

.carousel{
    position: relative;
}

.car-button{
    font-size: 50px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
}
.car-button:hover{
    cursor: pointer;
    opacity: 0.25;
    transition: all 0.2s;
}
.car-card-wrapper{
    position: relative;
    display: block;
    width: 300px;
    height: 500px;
}

.car-card{
    position: absolute;
    box-shadow: 0px 5px 15px black;
    border-radius: 8px;
}

.car-card-title{
    max-width: 300px;
}


.card-side-bg {
    width: 300px;
    height: 80px;
    /* background-color: #d3d3d3; */
    border-radius: 8px;
}



.car-card h2{
    font-size: 40px;
    text-align: center;
}

.car-card img {
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 3px 10px #2a2a2a;
    z-index: 2;
}

.car-card img:hover {
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.3s;
}
.car-card a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    font-size: 30px;
    border-radius: 10px;    
    margin: 5px;
    transition: all 0.3s;
    box-shadow: 0 2px 8px #2a2a2a;
    
}

.car-card a:hover{
    opacity: 0.5 !important;
}

.car-card span{
    font-size: 18px;
}

.music h1{
    text-align: center;
    font-size: 60px;
}

.music h3{
    text-align: center;
    font-size: 20px;
}

/*** Album Page Styling ***/

.album-page .col{
    width: 400px;
    justify-content: flex-start;
}

.album-box-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: auto;
    background-color: #fcfcfc;
    border-radius: 8px;
    box-shadow: 0 5px 15px #2a2a2a;
    padding-bottom: 10px;
}
.sub-box{
    width: 98%;
}

.album-page h1{
    height: auto;
    font-size: 20px;
    margin: 10px ;
    text-align: center;
}

.album-page img{
    width: 400px;
    height: 400px;
    margin-bottom: 10px;
}

.album-page .link-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    min-width: 150px;
    box-shadow: 0 2px 5px #2a2a2a;
    margin: 3px;
    padding: 3px;
    height: auto;
}


/*** Section Q: Gallery Page Styling ***/

.gallery {
    height: auto;
    text-align: center;
}

.photoBlock {
    height: 100%;
    opacity: 1;
    transition: all 0.3s;
}

.photoBlock:hover {
    opacity: 0.5;
}

.exitButton {
    color: #fff;
    font-size: 30px;
    z-index: 1000;
    position: fixed;
    top: 50px;
    left: calc(100vw - 50px);
}

.modalPic {
    display: none;
    opacity: 0;
    transition: all 0.5s;
}

.modalPic.active {
    display: block;
    opacity: 1;
}

.modalPic img{
    position: fixed;
    top: 100px;
    
    max-width: 80vw;
    max-height: 80vh;
    z-index: 999;
}

.yt {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
}
.vid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*** Setion P: About page styling ***/
.about h1{
    text-align: center;
    font-size: 100px;
}


.paraCol{
    width: 50%;
    text-align: justify;
}

/*** Section X: Contact Page Styling ***/

.contact{
    height: 100%;
}

.contact h1{
    text-align: center;
}

.contact h4{
    font-size: 15px;
    text-align: center;
}

.contact ul {
    padding: 0;
    list-style: none;
    text-align: center;
}


.contact a {
    color: #9F2A68;
    font-size: 70px;
    transition: all 0.5s;
}

.contact a:hover {
    color: #9F2A68;
}

@media only screen and (max-width: 768px) {
    .contact a{
        font-size: 40px;
    }
    
} 

/*** Section Y: Links Page Styling ***/
.links h1{
    text-align: center;
}

.links a{
    color: #9f2a68;
    font-size: 30px;
}

.links a:hover{
    color: #ffffff;
}

.btn-outline-primary {
    border-color: #9f2a68;
    color: #9f2a68;
}

.btn-outline-primary:hover {
    border-color: #9f2a68;
    background-color: #9f2a68;
    opacity: 1 !important;
}

/** Transition syles **/
.fullPageTransition-enter{
    opacity: 0;
}

.fullPageTransition-enter-active{
    opacity: 1;
    transition: all 0.2s;
}

.fullPageTransition-exit{
    opacity: 1;
}

.fullPageTransition-exit-active{
    opacity: 0;
    transition: all 0.2s;
}

.fp-title-enter{
    opacity: 0;
}
.fp-title-enter-active{
    opacity: 1;
    transition: all 0.3s;
}
.fp-title-exit{
    opacity: .25;
}
.fp-title-exit-active{
    opacity: 0;
    z-index: -10;
    transition: all 0.2s;
}

.car-card-enter{
    left: -400%;
    opacity: 0;
}
.car-card-enter-active{
    left: 0;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.car-card-exit{
    left: 0;
    opacity: 1;
}
.car-card-exit-active{
    left: 400%;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.op-swap-enter{
    opacity: 0;
}
.op-swap-enter-active{
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.op-swap-exit{
    opacity: 1;

}
.op-swap-exit-active{
    opacity: 0;
    transition: all 0.3s ease-in-out;
}